.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #f9f9f9;
}
.menu-item{
    list-style: none;
    justify-content: space-between;
}
.menu-lista{
    display: flex;
    color: #808080;
} 
.menu-lista.active{
    color: #333333 ;
}
.menu-link:hover{
    text-decoration: underline;
}
.menu-link{
    margin-right: 1.25rem;
    text-decoration: none;
}